pokemon_tcg_data/

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directory (if using virtualenv or venv)
env/
venv/
ENV/
.venv/

# Python environment files
.env
.envrc
*.env

# IDE/editor-specific files
.vscode/

# Log files
*.log

# Database files (if any SQLite database exists)
*.db
*.sqlite3

# .DS_Store (for macOS users)
.DS_Store

# Backup files
*~ 

lastPage.txt